/*
====================
global styles
====================
*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  display: inline-block;
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/*
====================
styles for index.html
====================

/*styles for header*/

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.header-top {
  width: 100%;
  min-height: 42px;
  margin-bottom: 46px;
  background-color: #293449;
}

.header-top .container {
  display: flex;
}

.main-header ul {
  list-style: none;
}

.logo {
  text-align: center;

  min-width: 220px;
  min-height: 42px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;

  padding: 12px 55px 8px 55px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-top input {
  min-width: 270px;
  min-height: 100%;
  padding-left: 48px;

  font-size: 17px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

/*styles for search placeholder*/
.header-top input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.header-top input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

.header-top input::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}

.header-top input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.header-top input:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.top-btn {
  position: relative;
  font-size: 17px;
  color: #ffffff;
  min-width: 150px;
  min-height: 100%;
  text-align: center;
}

.bookmarks {
  padding: 12px 25px 10px 45px;
}

.cart {
  padding: 12px 20px 10px 45px;
}

.bookmarks::before,
.cart::before {
  content: '';

  position: absolute;
  top: 14px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.bookmarks::before {
  background-image: url(../img/icon-bookmark.svg);
}

.cart::before {
  background-image: url(../img/icon-cart.svg);
}


.bookmarks.active,
.cart.active {
  background-color: #ee3643;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.top-btn:hover::before,
.top-btn:focus::before {
  opacity: 1;
}

.top-btn:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-btn:active::before {
  opacity: 0.5;
}

.place-order {
  background-color: #63a63e;
  padding: 12px 18px 10px 18px;
}

.place-order:hover,
.place-order:focus {
  background-color: #5fbb2d;
}

.place-order:active {
  background-color: #518534;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-left: 53px;
}

.main-header h1 {
  width: 195px;
  margin: 0 70px 0 0;

  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #ee3643;
}

.header-contacts {
  min-width: 270px;

  text-align: center;
}

.phone-number {
  position: relative;
  display: block;
  min-width: 270px;
  min-height: 45px;
  margin: 0;
  padding: 10px 40px 10px 65px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  white-space: nowrap;

  border: solid 3px #ffffff;
}

.phone-number::before {
  content: '';

  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  color: #32425c;
}

.user-block {
  min-width: 281px;
  margin-left: auto;
}

.is-logged .user-navigation {
  display: none;
}

.user-navigation {
  display: flex;
  padding: 0;
  margin: 0;
}

.user-navigation a {
  display: block;
  padding: 10px 25px;
  font-size: 21px;
  line-height: 21px;
  text-align: right;
  color: #000000;

  background-color: #ffffff;
}

.login-link a {
  position: relative;
  margin-right: 10px;
  min-width: 121px;
}

.login-link a::before {
  content: '';

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.registration {
  min-width: 150px;
}

.user-menu {
  display: none;
  margin: 0;
  padding: 0;
}


.is-logged .user-menu {

  display: block;


}

.user-name a {
  display: block;
  min-width: 300px;
  min-height: 45px;
  padding: 13px 30px 13px 47px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-name a:active,
.user-orders a:active,
.user-page a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-orders,
.user-page {
  display: inline-block;
}

.user-orders a {
  padding-left: 17px;
  padding-right: 30px;
  position: relative;
}

.user-orders a:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  top: 50%;
  right: 10px;
}


.user-orders a,
.user-page a {
  display: block;
  font-size: 16px;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
}

.user-orders a:hover,
.user-page a:hover,
.user-orders a:focus,
.user-page a:focus {
  color: #ee3643;
}

.site-navigation {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;

}

.site-navigation li {
  flex-grow: 1;
}

.site-navigation a {
  display: block;
  padding: 22px 31px;
  vertical-align: middle;
  font-size: 17px;
  line-height: 17px;

  color: #ffffff;
  background-color: #293449;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #32425c;
}

.site-navigation a:active {
  background-color: #1d2739;
}

.main-index {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  padding-top: 60px;
}

/*styles for promo-section*/
.promo-section {
  margin-bottom: 53px;
}

.promo-blocks {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.promo-block-item {
  position: relative;
  min-width: 300px;
  min-height: 123px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.product-block::before {
  content: '';
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.product-block:nth-child(1) {
  background-color: #ffbf47;
}

.product-block:nth-child(1)::before {
  width: 45px;
  height: 65px;
  top: 30px;
  right: 45px;
  background-image: url(../img/icon-1.svg);
}

.product-block:nth-child(2) {
  background-color: #3bbce3;

}

.product-block:nth-child(2)::before {
  width: 75px;
  height: 61px;
  top: 30px;
  right: 30px;
  background-image: url(../img/icon-2.svg);
}

.product-block:nth-child(3) {
  background-color: #dc91d8;
}

.product-block:nth-child(3)::before {
  width: 78px;
  height: 62px;
  top: 30px;
  right: 30px;
  background-image: url(../img/icon-3.svg);
}

.promo-block-title {
  margin: 0 0 15px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

.promo-block-btn {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-block-btn:hover,
.promo-block-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-section-slider {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.promo-slide-item {
  position: relative;
  min-height: 266px;
  min-width: 620px;
  background-color: #3bbce3;
  padding: 25px;

  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-slide-item::before {

}

.promo-slide-item::after {

}

.slide-drill {
  background-image: url(../img/slider_1_bg.jpg);
}

.slide-hammer-drill {
  background-image: url(../img/slider_2_bg.jpg);
  display: none;
}

.promo-slide-title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-slide-description {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.slider-button {
  position: absolute;
  bottom: 20px;
  left: 25px;
  width: 195px;
  padding: 10px 45px;
  line-height: 18px;
}

.slider-column {
  display: flex;
  justify-content: space-between;
}

.benefits-blocks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits-block {
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;

}

.benefits-block:nth-child(1) {
  background-color: #8ed78f;
}

.benefits-block:nth-child(1)::before {
  position: absolute;
  content: '';
  background-image: url(../img/icon-4.svg);
  width: 60px;
  height: 70px;
  bottom: 20px;
  right: 45px;

}

.benefits-block:nth-child(2) {
  background-color: #ffc047;
}

.benefits-block:nth-child(2)::before {
  position: absolute;
  content: '';
  background-image: url(../img/icon-5.svg);
  width: 80px;
  height: 60px;
  bottom: 30px;
  right: 30px;

}

/*styles for best-sellers section*/
.best-sellers {
  /*margin-bottom: 20px;*/
}

.section-header {
  padding: 25px;
  min-height: 90px;
  background-color: #f9f5f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-header h2 {
  margin: 5px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
}

.section-header-button {
  padding: 10px 55px;
  min-width: 250px;
}

.product-item {
  position: relative;

  width: 220px;
  min-height: 318px;

  font-family: PTSans, sans-serif;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  text-align: center;
}

.product-item h3,
.product-item span {
  margin: 0;
  font-weight: bold;

}

.product-item h3 {
  min-height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  padding: 5px 25px;
  margin-bottom: 5px;
}

.old-price {
  padding: 0 25px;
  min-height: 20px;
  margin: 0 0 10px;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.price {
  position: relative;
  width: 140px;
  margin: 10px auto 20px;
  padding: 10px 30px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background: #ee3643;
  white-space: nowrap;

  border-radius: 3px;
}

.price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.best-sellers-items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.best-sellers-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.best-sellers-item:nth-child(4n) {
  margin-right: 0;
}

/*styles for partners section*/
.partners {
  margin-bottom: 65px;
}

.partners-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partners-list-item {
  width: 220px;
  min-height: 145px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;

  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-list-item:nth-child(4n) {
  margin-right: 0;
}

.partners-list-item:hover,
.partners-list-item:focus {
  box-shadow: 0 10px 25px 0 #29344980;
}

.partners-list-item:active {
  box-shadow: 0 4px 10px 0 #29344980;
}

/*.styles for service section*/
.service {
  background-color: #f4f7f9;
  padding: 60px 0 20px 0;
}

.service h2 {
  margin: 3px 0 25px 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.service-content {
  margin: 0;
  margin-bottom: 65px;
  font-family: PT Sans, sans-serif;
  width: 400px;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.service-slider {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  min-height: 270px;

}

.service-slider-item {
  min-height: 60px;

}

.service-tab {
  background-color: #32425c;
  position: absolute;
  width: 240px;
  min-height: 60px;
  padding: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}

.service-tab:hover {
  background-color: #293449;
}

.active .service-tab {
  color: #32425c;
  background-color: #fff;
}

.service-tab p {
  margin: 0;
}

.service-description {
  position: absolute;
  width: 620px;
  min-height: 280px;
  right: 0;
  top: 0;
  display: none;
}

.delivery .service-description::before {
  content: '';
  width: 468px;
  height: 260px;
  position: absolute;
  top: 20px;
  right: 0;
  background-image: url(../img/delivery.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.guarantee .service-description::before {
  content: '';
  width: 389px;
  height: 283px;
  position: absolute;
  top: 20px;
  right: 0;
  background-image: url(../img/guarantee.png);
  background-position: 0 0;
  background-repeat: no-repeat;

}

.credit .service-description::before {
  content: '';
  width: 465px;
  height: 285px;
  position: absolute;
  top: 20px;
  right: 0;
  background-image: url(../img/credit.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}



.service-description h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
}

.service-description p {
  margin: 0;
  width: 275px;
  min-height: 83px;
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 30px;

}

.active .service-description {
  display: block;
}

.credit-button {
  padding: 14px 44px;
}

/*styles for section about-us*/
.about-us-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 75px 0;
}

.about-us {
  max-width: 519px;
}

.about-us h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.about-us p {
  font-family: PT Sans, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.about-us ul {
  list-style: none;
  margin: 0;
  margin-bottom:35px;
  padding: 0;
}

.delivering-partners li {
  position: relative;
  padding: 0;
  padding-left: 36px;
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
}

.delivering-partners li:last-child {
  margin-bottom: 0;
}

.delivering-partners li::before {
  content: '';
  width: 25px;
  min-height: 1px;
  position: absolute;
  border-bottom: 2px solid #ee3643;
  top:50%;
  left: 0;
}

.button-more {
  padding: 10px 40px;
}

/* styles for contacts section*/
.contacts {
  max-width: 300px;
}

.contacts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-transform: uppercase;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
  font-family: PT Sans, sans-serif;
  max-width: 180px;
}

.contacts .map {
  display: block;
  margin-bottom: 50px;
  width: 300px;
  height: 158px;
}

.contacts-button {
  width: 100%;
  padding: 10px 0;
}
/*
====================
styles for catalog.html page
====================
*/
.main-catalog {
  font-family: "PTSans", Arial, sans-serif;
  font-weight: 400;
}

.breadcrumbs {

  text-align: left;

  list-style: none;
  padding: 20px 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.home-icon {
  display: block;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  text-transform: uppercase;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  margin-right: 40px;
  position: relative;

}

.breadcrumbs-item::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 12px;
  top: 0;
  right: -20px;
  background-image: url(../img/icon-right-small.svg);


}

.breadcrumbs-item a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-title {
  min-height: 89px;
  margin: 0 0 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog {
  width: 700px;
}

.aside {
  width: 220px;
  order: -1;
}

.sorting {
  width: auto;
  min-height: 38px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  display: flex;
  padding: 15px;
}

.sorting-title,
.sorting-list {
  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;
}

.sorting-title {
  margin-right: 140px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000000;
}

.sorting-list-item {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list-item.is-activated {
  color: #ee3643;
}

.arrows {
  margin-left: auto;
  width: 0;
  height: 0;
}

.arrows::before {
  /*content: '';
  width: 0; height: 0;

  border: 10px solid;
  border-bottom-color: blue;*/
}

.arrows::after {
  /*content: '';

  width: 0;
  height: 0;

  border: 10px solid;
  border-top-color: red;*/
}

.catalog-list-items {
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-list-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list-item:nth-child(3n) {
  margin-right: 0;
}

.action-buttons {
  display: none;

  width: 100%;
  height: 88px;

  position: absolute;
  top: 0;
  left: 0;

  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.product-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-list-item:hover .action-buttons {
  display: block;
}

.button.buy-btn {
  width: 129px;
  margin: 0 auto 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 3px;
  border-bottom-color: #367315;
}

.button.buy-btn:hover,
.button.buy-btn:focus {
  background-color: #367315;
}

.button.buy-btn:active {
  background-color: #518534;
  box-shadow: none;
}

.button.bookmark-btn {
  width: 129px;
  margin: 0 auto 7px;
  padding: 7px 0;

  color: #32425c;
  background: white;

  border: solid 3px #63a63e;
  border-radius: 3px;
}

.button.bookmark-btn:hover,
.button.bookmark-btn:focus {
  border: solid 3px #32425c;
}

.button.bookmark-btn:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.paginator-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item.current a {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

/*styles for filters*/

.filters h2 {
  min-height: 38px;
  padding: 15px 18px;
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 21px;
}

.filters-list {
  list-style: none;
  padding: 0;
  margin: 0 0 48px;
}

.filter-item {
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.filters .button {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.filters .button:hover,
.filters .button:focus {
  border-color: #bdc6ca;
}

.filters .button:active {
  border-color: #ee3643;
}

/*styles for page-description section*/
.page-description {

  background-color: #f4f7f9;
  padding-top: 67px;
  padding-bottom: 63px;
  min-height: 261px;
}

.page-description h3 {
  margin: 0 0 18px;
  font-family: Cuprum, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-description p {
  width: 911px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

/*
====================
styles for footer
====================
*/
.main-footer {
  background-color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
}

.main-footer .container {
  /*min-height: 193px;*/
}

.footer-column {
  display: flex;
  justify-content: space-between;
}



.footer-column-top {
  min-height: 68px;
  margin-bottom: 28px;
}

.footer-logo {
  height: 65px;
  padding: 20px 40px 25px 40px;
}

.footer-contacts {
  width: 325px;
  min-height: 40px;
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation li {
  display: inline-block;
  margin-right: 55px;
}

.footer-navigation li:last-child {
  margin-right: 0;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.pages-list {
  padding-top: 40px;
}


.pages-list a {
  color: #f1f5f7;
}

.pages-list a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-column-middle {
  min-height: 95px;
}

.category-list a {
  color: #ffd180;
}

.category-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: #293449;
  min-height: 110px;
}


.footer-bottom .container {
  display: flex;
  justify-content: space-between;

}

.footer-copyright {
  width: 245px;
  min-height: 33px;
  margin: 0 145px 0 0;
  padding-top: 40px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 135px;
  padding-top: 37px;
  min-width: 235px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;

}

.social-icons-item {
  display: inline-block;
  margin-right: 3px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 3px;
}

.social-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-fb {
  background-image: url(../img/icon-fb.svg);
}

.social-inst {
  background-image: url(../img/icon-insta.svg);
}


.social-icons-item:hover,
.social-icons-item:focus,
.social-icons-item:active {
  background-color: #ee3643;
}

.footer-bottom-link {
  margin: 0;
  padding-top: 40px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.mail-us {

  width: 145px;
  min-height: 32px;
  margin-right: 30px;
  margin-left: auto;
}

.developer-link {
  width: 110px;
  min-height: 34px;
  margin-left: auto;
}

.footer-bottom-link a {
  color: #ffd180;
}

.footer-bottom-link a:hover,
.footer-bottom-link a:focus {
  text-decoration: underline;
}

.footer-bottom-link a:active {
  text-decoration: none;
  color: #ee3643;
}

/*
====================
styles for modal
====================
*/

.modal {
  display: none;
}



