/*
====================
global styles
====================
*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body {
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #ee3643;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/*
====================
styles for index.html
====================

/*styles for header*/

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.header-top {
  width: 100%;
  min-height: 42px;
  margin-bottom: 46px;
  background-color: #293449;
}

.header-top .container {
  display: flex;
}

.main-header ul {
  list-style: none;
}

.logo {
  min-width: 220px;
  min-height: 42px;
  padding: 12px 55px 8px 55px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search-form {
  width: 270px;
  flex-shrink: 1;
  position: relative;
}

.search-input {
  font-size: 17px;
  height: 100%;
  width: 100%;
  padding-left: 48px;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.search-icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 17px;
  height: 17px;
  border: none;
  background-color: transparent;
  fill: #ffffff;
  opacity: 0.3;
}

/*styles for search placeholder*/
.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: #ffffff;
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input:hover+.search-icon {
  opacity: 1;
}

.search-input:focus {
  color: #000000;
  outline: none;
  background-color: #ffffff;
}

.search-input:focus+.search-icon {
  fill: #ee3643;
}

.top-btn {
  font-size: 17px;
  position: relative;
  min-width: 150px;
  min-height: 100%;
  color: #ffffff;
}

.bookmarks {
  padding: 12px 12px 10px 45px;
}

.cart {
  padding: 12px 12px 10px 50px;
}

.bookmarks::before,
.cart::before {
  position: absolute;
  top: 13px;
  left: 17px;
  width: 15px;
  height: 15px;
  content: '';
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bookmarks::before {
  background-image: url(../img/icon-bookmark.svg);
}

.cart::before {
  background-image: url(../img/icon-cart.svg);
}


.bookmarks-active,
.cart-active {
  background-color: #ee3643;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.top-btn:hover::before,
.top-btn:focus::before {
  opacity: 1;
}

.top-btn:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-btn:active::before {
  opacity: 0.5;
}

.place-order {
  padding: 12px 18px 10px 18px;
  background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
  background-color: #5fbb2d;
}

.place-order:active {
  background-color: #518534;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-left: 53px;
}

.main-header h1 {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  width: 196px;
  margin: 3px 70px 0 0;
  text-align: left;
  color: #ee3643;
}

.header-contacts {
  min-width: 270px;

  text-align: center;
}

.phone-number {
  font-size: 21px;
  line-height: 21px;
  position: relative;
  display: block;
  min-width: 270px;
  min-height: 45px;
  margin: 0;
  padding: 10px 40px 10px 65px;
  white-space: nowrap;
  color: #e9292a;
  border: solid 3px #ffffff;
}

.phone-number::before {
  position: absolute;
  top: 10px;
  left: 13px;
  width: 19px;
  height: 19px;
  content: '';
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  line-height: 30px;
  margin: 0;
  padding: 0 10px;
  color: #32425c;
}

.user-block {
  width: 300px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.is-logged .user-navigation {
  display: none;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  display: block;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.login-link a {
  position: relative;
  min-width: 121px;
  margin-right: 10px;
  padding: 13px 10px 13px 47px;
}

.login-link a::before {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  content: '';
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.registration a {
  min-width: 150px;
  padding: 13px 10px 13px 24px;
}



.user-menu {
  display: none;
  margin: 0;
  padding: 0;
}


.is-logged .user-menu {
  display: flex;
  flex-wrap: wrap;
}

.user-name {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 300px;
  min-height: 45px;
  margin-bottom: 10px;
  padding: 13px 35px 13px 47px;
  text-align: left;
  background-color: #ffffff;
}

.profile {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.logout {
  padding: 0 10px;
  position: absolute;
  top: 15px;
  right: 0;
}

.profile::before {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 20px;
  content: '';
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.user-name a:active,
.user-orders a:active,
.user-page a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-orders,
.user-page {
  display: inline-block;
}

.user-orders a {
  position: relative;
  padding-right: 30px;
  padding-left: 17px;
}

.user-orders a:before {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 4px;
  height: 4px;
  content: '';
  border-radius: 50%;
  background-color: #32425c;
}

.user-orders a,
.user-page a {
  font-size: 16px;
  display: block;
  text-align: left;
  text-decoration: underline;
  color: #32425c;
}

.user-orders a:hover,
.user-page a:hover,
.user-orders a:focus,
.user-page a:focus {
  color: #ee3643;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  margin: 0;
  padding: 0 20px;
  background-color: #293449;
}

.site-navigation li {
  flex-grow: 1;
}

.site-navigation a {
  font-size: 17px;
  line-height: 40px;
  display: block;
  min-height: 60px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #293449;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #32425c;
}

.site-navigation a:active {
  background-color: #1d2739;
}

.main-index {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  padding-top: 60px;
}

/*styles for promo-section*/
.promo-section {
  margin-bottom: 53px;
}

.promo-blocks {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.promo-block-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  padding: 20px 115px 20px 24px;
}

.product-block::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-block-materials {
  background-color: #ffbf47;
}

.product-block-materials::after {
  top: 30px;
  right: 45px;
  width: 45px;
  height: 65px;
  background-image: url(../img/icon-1.svg);
}

.product-block-tools {
  background-color: #3bbce3;
}

.product-block-tools::after {
  top: 30px;
  right: 30px;
  width: 75px;
  height: 61px;
  background-image: url(../img/icon-2.svg);
}

.product-block-equipments {
  background-color: #dc91d8;
}

.product-block-equipments::after {
  top: 30px;
  right: 30px;
  width: 78px;
  height: 62px;
  background-image: url(../img/icon-3.svg);
}

.promo-block-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 15px;
  text-align: left;
  color: #ffffff;
}

.promo-block-btn {
  font-size: 14px;
  line-height: 18px;
  display: block;
  width: 135px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-block-btn:hover,
.promo-block-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-section-slider {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.promo-slide-item {
  display: flex;
  flex-direction: column;
  width: 620px;
  min-height: 265px;
  padding: 25px 25px 20px 25px;
  background-color: #3bbce3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-control {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 114px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-control-next {
  background-image: url(../img/icon-left.svg);
  left: 25px;
}

.slider-control-previous {
  background-image: url(../img/icon-right.svg);
  right: 20px;
}

.slide-drill {
  background-image: url(../img/slider_1_bg.jpg);
}

.slide-hammer-drill {
  display: none;
  background-image: url(../img/slider_2_bg.jpg);
}

.promo-slide-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-slide-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  text-align: left;
  color: #ffffff;
}

.slider-button {
  line-height: 14px;
  width: 195px;
  min-height: 38px;
  padding: 13px 10px;
  margin-top: auto;
}

.slider-column {
  display: flex;
  justify-content: space-between;
}

.benefits-blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-block {
  position: relative;
}

.benefits-block-discounts {
  background-color: #8ed78f;
}

.benefits-block-discounts::after {
  position: absolute;
  right: 45px;
  bottom: 20px;
  width: 60px;
  height: 70px;
  content: '';
  background-image: url(../img/icon-4.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.benefits-block-delivery {
  background-color: #ffc047;
}

.benefits-block-delivery::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 80px;
  height: 60px;
  content: '';
  background-image: url(../img/icon-5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 90px;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #f9f5f0;
}

.section-header h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 5px 0;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.section-header-button {
  width: 250px;
  min-height: 38px;
  padding: 10px;
}

.product-item {
  font-family: "PT Sans", "Arial", sans-serif;
  position: relative;
  width: 220px;
  min-height: 318px;
  text-align: center;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.new-product::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  content: '';
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  background-position: center;
}

.product-item h3,
.product-item span {
  font-weight: bold;
  margin: 0;
}

.product-item h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  min-height: 40px;
  margin-bottom: 5px;
  padding: 5px 25px;
  color: #000000;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  min-height: 20px;
  margin: 0 0 10px;
  padding: 0 25px;
  text-decoration: line-through;
  color: #999999;
}

.price {
  font-size: 17px;
  line-height: 18px;
  position: relative;
  width: 135px;
  margin: 10px auto 20px;
  padding: 10px 30px 10px 10px;
  white-space: nowrap;
  color: #ffffff;
  border-radius: 3px;
  background: #ee3643;
}

.price:after {
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  content: "";
  border: 19px solid white;
  border-left-color: #ee3643;
}

.best-sellers-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.best-sellers-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.best-sellers-item:nth-child(4n) {
  margin-right: 0;
}

/*styles for partners section*/
.partners {
  margin-bottom: 65px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.partners-list-item a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.partners-list-item:nth-child(4n) {
  margin-right: 0;
}

.partners-list-item:hover,
.partners-list-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.partners-list-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/*.styles for service section*/
.service {
  padding: 60px 0 18px 0;
  background-color: #f4f7f9;
}

.service h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 3px 0 25px 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.service-content {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  margin: 0 0 70px;
  text-align: left;
  color: #000000;
}

.service-slider {
  position: relative;
  min-height: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-slider-item {
  position: relative;
  min-height: 63px;
}

.service-slider-item:first-child::before {
  position: absolute;
  z-index: 10;
  top: -45px;
  left: 230px;
  width: 10px;
  height: 279px;
  content: '';
  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-tab {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  position: absolute;
  width: 240px;
  padding: 22px;
  cursor: pointer;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: inset 0 -3px 0 0 #405069,
              inset 0 -4px 0 0 #293449;
}

.service-tab:hover {
  background-color: #293449;
}

.service-slider-active .service-tab {
  color: #32425c;
  background-color: #fff;
}

.service-tab p {
  margin: 0;
}

.service-description {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 620px;
  min-height: 280px;
}

.delivery .service-description::before {
  position: absolute;
  top: 20px;
  right: 0;
  width: 468px;
  height: 260px;
  content: '';
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.guarantee .service-description::before {
  position: absolute;
  top: 20px;
  right: 0;
  width: 389px;
  height: 283px;
  content: '';
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.credit .service-description::before {
  position: absolute;
  top: 20px;
  right: 0;
  width: 465px;
  height: 285px;
  content: '';
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-description h3 {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 25px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.service-description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 275px;
  min-height: 83px;
  margin: 0 0 30px;
  text-align: left;
}

.service-slider-active .service-description {
  display: block;
}

.credit-button {
  padding: 14px 44px;
}

/*styles for section about-us*/
.about-us-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 75px 0;
}

.about-us {
  max-width: 519px;
}

.about-us h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 25px;
  text-align: left;
  text-transform: uppercase;
}

.about-us p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0 0 25px;
}

.about-us ul {
  margin: 0 0 35px;
  padding: 0;
  list-style: none;
}

.delivering-partners li {
  font-size: 18px;
  line-height: 20px;
  position: relative;
  margin: 0 0 18px;
  padding: 0 0 0 36px;
  text-align: left;
}

.delivering-partners li:last-child {
  margin-bottom: 0;
}

.delivering-partners li::before {
  position: absolute;
  top:50%;
  left: 0;
  width: 25px;
  height: 2px;
  content: '';
  background-color: #ee3643;
}

.button-more {
  padding: 10px 40px;
}

/* styles for contacts section*/
.contacts {
  max-width: 300px;
}

.contacts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 25px;
  padding: 0;
  text-transform: uppercase;
}

.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  max-width: 180px;
  margin: 0 0 25px;
}

.contacts .map {
  display: block;
  width: 300px;
  height: 158px;
  margin-bottom: 50px;
}

.contacts-button {
  width: 100%;
  padding: 10px 0;
}
/*
====================
styles for catalog.html page
====================
*/
.main-catalog {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
}

.breadcrumbs {
 display: flex;
  align-items: center;
  flex-wrap: wrap;

  justify-content: flex-start;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.home-icon {
  display: block;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position:center;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 3px;
  right: -23px;
  width: 8px;
  height: 12px;
  content: '';
  background-image: url(../img/icon-right-small.svg);
}

.breadcrumbs-item a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-current::after {
  display: none;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  min-height: 89px;
  margin: 0 0 20px;
  padding: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog {
  width: 700px;
}

.aside {
  order: -1;
  width: 220px;
}

.sorting {
  display: flex;
  width: auto;
  min-height: 38px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #f7f3ec;
}

.sorting-title,
.sorting-list {
  font-size: 13px;
  line-height: 18px;

  text-transform: uppercase;
}

.sorting-title {
  margin-right: 140px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
}

.sorting-list-item {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted red;
}

.sorting-list-item-activated {
  color: #ee3643;
  border: none;
}

.arrows {
  position: relative;
  width: 0;
  height: 0;
  margin-left: auto;
}

.arrows::after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  cursor: pointer;
  color: transparent;

}

.arrow-up::after {
  top: -5px;
  right: -15px;
  border: 10px solid;
  border-bottom-color: #c5c5c5;
}

.arrow-down::after {

  top: 5px;
  right: -5px;
  border: 10px solid;
  border-top-color: #c5c5c5;
}

.activated-arrow::after {
  border-bottom-color: #ee3643;
}

.catalog-list-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 32px;
  padding: 0;
  list-style: none;
}

.catalog-list-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list-item:nth-child(3n) {
  margin-right: 0;
}

.action-buttons {
  position: absolute;

  z-index: 10;
  top: 0;

  left: 0;
  display: none;
  width: 100%;

  min-height: 170px;
  padding: 45px 10px 10px 10px;
  background-color: #ffffff;
}

.product-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.9);
}

.catalog-list-item:hover .action-buttons {
  display: block;
}

.buy-btn {
line-height: 1;
  position: relative;
  min-width: 135px;
  margin: 0 auto 7px;
  padding: 13px 10px 8px 49px;
  text-align: left;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
  background-color: #63a63e;
}

.buy-btn::before {
  position: absolute;
  top: 13px;
  left: 14px;
  width: 15px;
  height: 15px;
  content: '';
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.bookmark-btn {
  width: 129px;
  margin: 0 auto 7px;
  padding: 7px 0;

  color: #32425c;
  border: solid 3px #63a63e;

  border-radius: 3px;
  background: white;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
  border: solid 3px #32425c;
  background-color: transparent;
}

.bookmark-btn:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}


.paginator-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  min-width: 120px;
  margin-right: 0;
}

.pagination-item a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  min-width: 38px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item.current a {
  color: #ffffff;

  background-color: #ee3643;
}

/*styles for filters*/

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  min-height: 38px;
  margin: 0 0 20px;
  padding: 10px 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.filters-list {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
}

.range-filter {
  width: 220px;
  padding-bottom: 20px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 36px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.range-controls .toggle {
  position: absolute;
  top: 28px;
  left: 0;
  width: 2px;
  height: 2px;
  padding: 0;
  cursor: pointer;
  border: 9px solid #ffffff;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 84%;
  height: 2px;
  background-color: #00ca74;
}

.prise-controls {
  display: flex;
  justify-content: space-around;
  width: 220px;
}

.prise-controls label {
  display: block;
  width: 50%;
}

.prise-controls input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  padding: 14px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.filter-item {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 35px;
  text-transform: uppercase;
}

.filter-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  position: absolute;
  top: 0;
  left: -35px;
  width: 23px;
  height: 23px;
  content: '';
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  top: -3px;
  left: -25px;
  width: 10px;
  height: 20px;
  content: '';
  transform: rotate(45deg);
  border: solid #c5c5c5;
  border-width: 0 4px 4px 0;
}

.filter-input-radio + label::before {
  position: absolute;
  top: -4px;
  left: -36px;
  width: 25px;
  height: 25px;
  content: '';
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  position: absolute;
  top: 4px;
  left: -28px;
  width: 9px;
  height: 9px;
  content: '';
  border-radius: 50%;
  background-color: #c5c5c5;
}


.filter-input:hover + label,
.filter-input:focus + label {
  color: #b5b5b5;
}

.filter-input:hover + label::after,
.filter-input:focus + label::after {
  border-color: #b5b5b5;
}

.filter-input:disabled + label {
  opacity: 0.4;
  color: #000000;
}

.filter-submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  min-width: 140px;
  padding: 10px;
  text-align: center;
  color: #000000;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.filter-submit:hover,
.filter-submit:focus {
  border-color: #bdc6ca;
  background-color: transparent;
}

.filter-submit:active {
  border-color: #ee3643;
}

/*styles for page-description section*/
.page-description {

  min-height: 261px;
  padding-top: 65px;
  padding-bottom: 45px;
  background-color: #f4f7f9;
}

.page-description h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 25px;
  text-transform: uppercase;
}

.page-description p {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-right: 20px;
}

/*
====================
styles for footer
====================
*/
.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #32425c;
}

.main-footer .container {
  /*min-height: 193px;*/
}

.footer-column {
  display: flex;
  justify-content: space-between;
}



.footer-column-top {
  min-height: 68px;
  margin-bottom: 28px;
}

.footer-logo {
  height: 65px;
  padding: 20px 40px 25px 40px;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  width: 325px;

  min-height: 40px;
  margin: 0;
  color: #f3f7f9;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation li {
  display: inline-block;
  margin-right: 55px;
}

.footer-navigation li:last-child {
  margin-right: 0;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.pages-list {
  padding-top: 40px;
}


.pages-list a {
  color: #f1f5f7;
}

.pages-list a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-column-middle {
  min-height: 95px;
}

.category-list a {
  color: #ffd180;
}

.category-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  min-height: 110px;
  background-color: #293449;
}


.footer-bottom .container {
  display: flex;
  justify-content: space-between;

}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  width: 245px;
  min-height: 33px;

  margin: 0 145px 0 0;
  padding-top: 40px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  min-width: 235px;
  max-width: 135px;
  margin: 0;
  padding: 37px 0 0;
  list-style: none;
}

.social-icons-item {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
}

.social-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-fb {
  background-image: url(../img/icon-fb.svg);
}

.social-inst {
  background-image: url(../img/icon-insta.svg);
}


.social-icons-item:hover,
.social-icons-item:focus,
.social-icons-item:active {
  background-color: #ee3643;
}

.footer-bottom-link {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-top: 40px;
  color: #ffffff;
}

.mail-us {

  width: 145px;
  min-height: 32px;
  margin-right: 30px;
  margin-left: auto;
}

.developer-link {
  width: 110px;
  min-height: 34px;
  margin-left: auto;
}

.footer-bottom-link a {
  color: #ffd180;
}

.footer-bottom-link a:hover,
.footer-bottom-link a:focus {
  text-decoration: underline;
}

.footer-bottom-link a:active {
  text-decoration: none;
  color: #ee3643;
}

/*
====================
styles for modal
====================
*/

.modal {
  position: fixed;
  z-index: 20;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modal-close:after,
.modal-close:before {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 19px;
  height: 3px;
  content: '';
  background-color: #ee3643;

}

.modal-close:after {
  transform: rotate(45deg);
}

.modal-close:before {
  transform: rotate(-45deg);
}

.modal-back {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 620px;
  min-height: 430px;
  padding-top: 45px;
  text-align: left;
  color: #000000;
  border-top: 7px solid  #ee3643;
  background-color: #ffffff;
}

.sender-form fieldset {
  padding: 0 80px;
  border: none;
}

.sender-form label {
  display: block;
  margin-bottom: 13px;
}

.sender-date p {
  display: inline-block;
  width: 215px;
}

.sender-form input,
.sender-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 13px 16px;
  border: solid 2px #dee3e4;
  border-radius: 3px;
}
.sender-form input {
  min-width: 220px;
  min-height: 38px;
  border-color: #d7dcde;
}

.sender-form input:hover,
.sender-form textarea:hover {
  border-color: #b5b5b5;
}

.sender-form input:active,
.sender-form input:focus,
.sender-form textarea:active,
.sender-form textarea:focus {
  border-color: #ee3643;
}

.sender-date {
  margin-bottom: 22px;
}

.sender-name {
  margin: 0 20px 0 0;
}

.sender-email {
  margin: 0;
}

.sender-message {
  margin-bottom: 37px;
}

.sender-message textarea{
  width: 100%;
  min-height: 115px;
}

.modal-button-wrapper {
  min-height: 112px;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.button-back {
  width: 100%;
  padding: 14px;
}

.modal-map {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 940px;
  min-height: 446px;
  background-color: #ffffff;
}

.modal-map p {
  margin: 0;
}

.modal-cart {
  top: 120px;
  left: 50%;
  display: none;
  width: 620px;
  min-height: 282px;
  margin-left: -310px;
  border-top: 7px solid  #ee3643;
  background-color: #ffffff;
}

.modal-cart h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 65px 0;
  padding: 70px 10px 15px 179px;
}

.modal-cart:before {
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  content: '';
  border-radius: 50%;
  background-color: #63a63e;
}

.modal-cart:after {
  position: absolute;
  top: 55px;
  left: 105px;
  width: 20px;
  height: 40px;
  content: '';
  transform: rotate(45deg);
  border: solid #ffffff;
  border-width: 0 7px 7px 0;
}

.modal-cart .button {
  min-width: 215px;
  min-height: 38px;
  padding: 8px;
}

.modal-cart .order-button {
  margin-right: 18px;
}


